<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appBlueColor>
    Welcome to {{title}}!
  </h1>
</div>

<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
<a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>

<router-outlet></router-outlet>

<div *ngIf='visible'>This works!</div>
<button (click)='visibleChange()'>Click me</button>


<div *ngIf='counter % 2; let value'>
  Value is: {{ value }}
</div>